body {
	font-family: "Comic Sans MS", "Microsoft JhengHei";
	font-size: 16px;
	margin: 0;
}
header{
	width: 100%;
	height: 60px;
	padding-left: 30px;
	background: #B6E4EC;
	h1{
		margin: 0;
		display: inline-block;
		line-height: 60px;
	}
	.title-search{
		width: 250px !important;
		height: 30px !important;
		display: inline-block;
		position: relative;
		top: -9px;
		margin-left: 50px;
	}
	.search-button{
		display: inline-block;
		font-size: 18px;
		position: relative;
		top: -7px;
		left: -28px;
		cursor: pointer;
		color: #61A9B6;
		-webkit-transition: .2s linear;
		&:hover{
			color: #B6E4EC;
		}
	}
}
nav{
	ul{
		margin: 0;
		padding: 10px;
		text-align: center;
		background: #F2FCFF;
		li{
			display: inline-block;
			cursor: pointer;
			border: 1px solid #B4B4B4;
			border-radius: 5px;
			padding: 2px 7px;
			-webkit-transition: .2s linear;
			&:hover{
				background: #5BBED1;
				color: #fff;
				border: 1px solid #5BBED1;
			}
		}
	}
}
section{
	overflow: auto;
	& > div{
		float: left;
		ul{
			padding: 0;
			text-align: center;
			border: 1px solid #70B4A9;
			border-radius: 5px;
			margin: 5px;
			list-style-type: none;
			li{
				cursor: pointer;
				border-radius: 5px;
				padding: 2px 7px;
				-webkit-transition: .2s linear;
				&:hover{
					background: #5BBED1;
					color: #fff;
				}
			}
			div{
				background: #70B4A9;
				line-height: 30px;
				font-size: 20px;
				font-weight: bold;
				color: #fff;
			}
		}
	}
	.middle-nav{
		ul{
			width: 900px;
			overflow: auto;
			li{
				width: 50%;
				height: 300px;
				line-height: 300px;
				margin: 0;
				padding: 0;
				text-align: left;
				float: left;
				text-align: center;
				img{
					width: 95%;
					height: 95%;
				}
				&:hover{
					background: #fff;
				}
			}
		}
	}
	.right-nav{
		ul{
			width: 220px;
			li{
				height: auto;
				width: 218px;
				text-align: left;
				cursor: default;
				padding: 10px;
				&:hover{
					background: #fff;
					color: #000;
				}
			}

		}
	}
}

footer{
	position: relative;
	bottom: 0px;
	padding: 10px;
	width: 100%;
	background: #74CFCF;
	text-align: center;
	p{
		margin: 0;
	}
}