/* line 1, ../sass/index.scss */
body {
  font-family: "Comic Sans MS", "Microsoft JhengHei";
  font-size: 16px;
  margin: 0;
}

/* line 6, ../sass/index.scss */
header {
  width: 100%;
  height: 60px;
  padding-left: 30px;
  background: #B6E4EC;
}
/* line 11, ../sass/index.scss */
header h1 {
  margin: 0;
  display: inline-block;
  line-height: 60px;
}
/* line 16, ../sass/index.scss */
header .title-search {
  width: 250px !important;
  height: 30px !important;
  display: inline-block;
  position: relative;
  top: -9px;
  margin-left: 50px;
}
/* line 24, ../sass/index.scss */
header .search-button {
  display: inline-block;
  font-size: 18px;
  position: relative;
  top: -7px;
  left: -28px;
  cursor: pointer;
  color: #61A9B6;
  -webkit-transition: .2s linear;
}
/* line 33, ../sass/index.scss */
header .search-button:hover {
  color: #B6E4EC;
}

/* line 39, ../sass/index.scss */
nav ul {
  margin: 0;
  padding: 10px;
  text-align: center;
  background: #F2FCFF;
}
/* line 44, ../sass/index.scss */
nav ul li {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #B4B4B4;
  border-radius: 5px;
  padding: 2px 7px;
  -webkit-transition: .2s linear;
}
/* line 51, ../sass/index.scss */
nav ul li:hover {
  background: #5BBED1;
  color: #fff;
  border: 1px solid #5BBED1;
}

/* line 59, ../sass/index.scss */
section {
  overflow: auto;
}
/* line 61, ../sass/index.scss */
section > div {
  float: left;
}
/* line 63, ../sass/index.scss */
section > div ul {
  padding: 0;
  text-align: center;
  border: 1px solid #70B4A9;
  border-radius: 5px;
  margin: 5px;
  list-style-type: none;
}
/* line 70, ../sass/index.scss */
section > div ul li {
  cursor: pointer;
  border-radius: 5px;
  padding: 2px 7px;
  -webkit-transition: .2s linear;
}
/* line 75, ../sass/index.scss */
section > div ul li:hover {
  background: #5BBED1;
  color: #fff;
}
/* line 80, ../sass/index.scss */
section > div ul div {
  background: #70B4A9;
  line-height: 30px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
/* line 90, ../sass/index.scss */
section .middle-nav ul {
  width: 900px;
  overflow: auto;
}
/* line 93, ../sass/index.scss */
section .middle-nav ul li {
  width: 50%;
  height: 300px;
  line-height: 300px;
  margin: 0;
  padding: 0;
  text-align: left;
  float: left;
  text-align: center;
}
/* line 102, ../sass/index.scss */
section .middle-nav ul li img {
  width: 95%;
  height: 95%;
}
/* line 106, ../sass/index.scss */
section .middle-nav ul li:hover {
  background: #fff;
}
/* line 113, ../sass/index.scss */
section .right-nav ul {
  width: 220px;
}
/* line 115, ../sass/index.scss */
section .right-nav ul li {
  height: auto;
  width: 218px;
  text-align: left;
  cursor: default;
  padding: 10px;
}
/* line 121, ../sass/index.scss */
section .right-nav ul li:hover {
  background: #fff;
  color: #000;
}

/* line 131, ../sass/index.scss */
footer {
  position: relative;
  bottom: 0px;
  padding: 10px;
  width: 100%;
  background: #74CFCF;
  text-align: center;
}
/* line 138, ../sass/index.scss */
footer p {
  margin: 0;
}
